<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fu.user.mapper.UserMapper">


    <!-- UserPO selectUserByUserName(@Param("userName") String userName); -->
    <select id="selectUserByUserName" resultType="org.fu.user.po.UserPO">
        select user_name , user_acct, create_time  from user where user_name = #{userName};
    </select>


    <!-- List<UserPO> getAllUser(); -->
    <select id="getAllUser" resultType="org.fu.user.po.UserPO">
        select user_name , user_acct, create_time from user;
    </select>


    <!-- Boolean insertUser(@Param("userPO")UserPO userPO); -->
    <insert id="insertUser" parameterType="org.fu.user.po.UserPO">
        insert into user (user_name, user_acct , create_time) values(#{userPO.UserName}, #{userPO.UserAcct},
            #{userPO.CreateTime});
    </insert>


    <!-- Boolean updateUser(@Param("userName")String userName , @Param("userAcct")String userAcct); -->
    <update id="updateUser" parameterType="org.fu.user.po.UserPO">
        update user set user_acct = #{userAcct} where user_name = #{userName};
    </update>


    <!-- Boolean deleteUser(@Param("userName")String userName); -->
    <delete id="deleteUser" parameterType="org.fu.user.po.UserPO">
        delete from user where user_name = #{userName};
    </delete>

</mapper>